.back-button {
  margin-top: 2rem;
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
    display: inline-block;
    border-bottom: #444 solid 2px;
}
.back-button:hover {
  color: #b350ec;
  border-bottom: #b350ec solid 2px;
}