.contactSection {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  color: #333;
  min-height: 80vh;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
}

.intro h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffd700; 
  margin-bottom: 10px;
}

.intro p {
  font-size: 1rem;
  color: #555;
}

.contactGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.contactForm {
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactForm input,
.contactForm textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.85rem;
  resize: none;
}

.contactForm button {
  background-color: #ffd700;
  color: black;
  border: none;
  padding: 12px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactForm button:hover {
  background-color: #4b4004;
  color: white;
}

.contactInfo {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 1rem;
}

.icon-contact {
  color: #ffd700;
  font-size: 1.2rem;
}

.socials {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.socials a {
  font-size: 1.8rem;
  color: #ffd700;
  transition: transform 0.3s ease;
}

.socials a:hover {
  transform: scale(1.2);
  color: #4b4004;
}
.error-message {
  color: red;
  font-size: 0.8rem;
}
.status-message {
  font-size: 0.9rem;
  color: #3d1240;
  position: absolute;
  top: 70%;
  left: 42%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid #3d1240;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .contactGrid {
    flex-direction: column;
  }
}
