/* Mise en page principale */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 40px;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Section Articles */
.articles-card {
  background-color: #eef0ee;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.articles-card h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #977506ed;
  border-bottom: 2px solid #977506ed;
  padding-bottom: 5px;
}
.articles-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Section À propos */
.about {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px 30px;
  margin-left: 40px;
  max-width: 400px;
  height: fit-content;
  box-shadow: 0 4px 10px rgba(0,0,0,0.07);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.about h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #2c6f48;
  font-weight: 700;
  border-bottom: 2px solid #38a90e;
  padding-bottom: 5px;
  text-align: center;
}

.about p {
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 12px;
  color: #555;
  text-align: justify;
  font-family: 'Arial', sans-serif;
}

/* Responsive pour mobile/tablette */
@media screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .about {
    margin-top: 30px;
  }
}
