.message {
  max-width: 70%;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  word-wrap: break-word;
  background-color: #f1f0f0;       
  color: #333;
  align-self: flex-end;
  border-bottom-left-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message-texte {
  display: block;
  margin-bottom: 5px; /* Pas de marge, on laisse place au pseudo */
}

.message-pseudo {
  font-size: 0.70rem;
  color: #baaeae;
  text-align: right;
  right: 15px;
  font-weight: 500;
}
