
.card-skill {
  flex: 0 1 calc(20% - 24px); /* 5 cards par ligne (20% chacune) */
  max-width: calc(20% - 24px);
  background: #f9fafb;
  border: 2px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-skill-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.card-skill-label {
  font-size: 1.1em;
  font-weight: 500;
  margin: 15px 0 10px 0;
  color: #1f2937; 
}

.card-skill-description {
  max-height: 90px;             /* Limite la hauteur */
  overflow: hidden;             /* Cache le reste du texte */
  position: relative;
  font-size: 0.95em;
  line-height: 1.5;
  color: #b4bbce;
}
.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #a54dbe, #3d1240);
  border-radius: 8px;
  transition: width 0.5s ease-in-out;
}
.progress-fill strong {
  position: absolute;
  right: 5px;
  color: #fbf5fd;
  font-size: 0.75em;
  top: 50%;
  transform: translateY(-50%);
}
.progress-bar {
  width: 100%;
  height: 15px;
  background: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}