* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(13, 5, 106);
    width: 70%;
    height: 100px;
    
}
.container h3 {
    text-align: center;
    padding: 15px 15px 5px;
    color: azure;
    font-size: 25px;
}
.title {
    display: flex;
    justify-content: center;
    padding: 5px 15px 15px;
}
.addbtn {
    width: 20%;
    background-color: rgb(228, 224, 224);
    border-width: 0;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 14px;
}
.addbtn:hover {
    background-color: #bbb;
}
#myinput {
    width: 80%;
    height: 2.5em;
    font-size: 14px;
}
ul {
    background-color: rgb(203, 194, 194);
    list-style: none;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 8px 13px;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;

}
ul li:hover {
    background-color: #ccc;
    position: relative;
    padding-right: 30px
}
#deleteTask {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    height: 100%;
    padding: 7px 7px;
}
#deleteTask:hover {
    background-color: rgb(148, 7, 7);
}
