#root {
  margin: 0;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* * {
  outline: 1px solid red ;
} */

html, body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #eef0ee;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.blog {
  display: flex;
  flex-direction: column;
  height: 100vh;

}
.entete {
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #2f9343;
  padding: 12px 30px;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}
.logo-titre {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-titre img {
  width: 40px;
  height: 40px;
}
.blog-title {
  font-size: 1.5rem;
  margin: 0;
  text-shadow: 4px 4px 9px rgba(46, 59, 47, 0.856);
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  padding: 10px 20px;
}
nav a {
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  font-weight: 500;
  color: #ffffff;
}

nav a:hover {
  color: #4c522f;
}

.container {
  font-size: 28px; /* Increased text to enable scrolling */
  width: 100%;
}
.search-box {
  position: relative;
  display: flex;
  align-items: center;
}
.search-box input {
  padding: 8px 32px 8px 10px;
  border-radius: 20px;
  border: none;
  font-size: 0.80rem;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #2f9343;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  font-size: 1rem;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nav-link {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 4px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  color: #FFD700;
  border-bottom: 2px solid white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link.active {
  border-bottom: 2px solid white;
}

.nav-link:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

